body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#container {
  display: grid;
  grid-template-columns: 0.6fr 5fr 1fr;
  grid-template-rows: 2fr 3fr 3fr 1fr;
  grid-template-areas: "hoofd hoofd hoofd"
                       "menu midden1 fotos"
                       "voet voet voet";
}

#bovenbalk {
  grid-area: hoofd;
  height: 50px;
}

#menu {
  background-color: black;
  grid-area: menu;
}

#centrum1 {
  grid-area: midden1;
}


#rechterkolom {
  grid-area: fotos;
}

#footer {
  grid-area: voet;
  background-color: black;
}

.name{
  text-align: center;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

p {
  font-family: 'Bebas Neue', cursive;
}

.copyright{
  color: white;
  text-align: center;
}
