body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-align: center;
}

p {
  font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none;
}

.name {
  text-align: center;
}

.title_link {
  text-decoration: none;
}

.copyright {
  color: white;
  text-align: center;
}

.current {
  color: white;
  text-shadow: 2px 2px 10px #FFFFFF;
}

::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (max-width: 600px) {
  #menu {
    display: none;
  }
}

#container {
  display: grid;
  grid-template-columns: 0.6fr 5fr 1fr;
  grid-template-rows: 2fr 3fr 3fr 1fr;
  grid-template-areas: "hoofd hoofd hoofd"
                       "menu midden1 fotos"
                       "voet voet voet";
}

#bovenbalk {
  grid-area: hoofd;
  height: 50px;
}

#menu {
  background-color: black;
  grid-area: menu;
  height: 360px;
  position: relative;
  top: -40px;
}

#centrum1 {
  grid-area: midden1;
   background: rgba(0, 0, 0, 0.8);
   position: relative;
   top: -40px;
}


/*#rechterkolom {
  grid-area: fotos;
}*/

#footer {
  grid-area: voet;
  height: 50px;
  background-color: black;
}
